<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Welcome to Quiz Master</h1>

    <h2>Available Subjects and Quizzes</h2>
    <ul>
        {% for subject in subjects %}
            <li>
                <strong>{{ subject.name }}</strong>
                <ul>
                    {% for chapter in subject.chapters %}
                        <li>
                            {{ chapter.name }}
                            <ul>
                                {% for quiz in chapter.quizzes %}
                                    <li>
                                        <a href="/quiz/{{ quiz.id }}">{{ quiz.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
